* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  width: 100%;
}

.profile {
  width: 20%;
  border-radius: 50%;
  position: relative;
  float: right;
  margin-top: -40%;
  margin-right: 40%;




}

h2 {
  text-align: center;
  margin-top:-15%;
  position: relative;
  color: rgba(0, 0, 0);
  font-size: 2em;


}

h1 {
  float: left;
  font-family: calibri;
  font-size: 2.5rem;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  width: 100%;




}

li {
  float: right;


}

li a {
  display: block;
  color: black;
  padding:1em 3em;
  text-align: center;


}

li a:hover {
  color: red;
}

.main-p {}
